<h1>
  {{title}}
</h1>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <h2>Template Driven Form</h2>
      <app-form1></app-form1>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
      <h2>Model Driven Form</h2>
      <app-form2></app-form2>
    </div>
  </div>

</div>